body{
    background: url(/assets/image/pexels-ketut-subiyanto-4623089.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background: transparent !important;
    position: sticky;

}
.card{
   background: rgba(0, 0, 0, 0.486);
   color: white;
}

.card ul a{
    float: right;
    margin: 0 .3rem;
}